/* about us */
.aboutus {
    position: relative;
    position: relative;
    top: 0;
    margin: 28px 0px;
    background-image: url(../images/output-onlinepngtools.webp);
    background-size: 124em 54em;
    background-repeat: no-repeat;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 0px 14px;
}

.about-head {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 250;
    color: var(--pbmit-global-color);
    padding: 10px 0px 22px 0px;
    width: 47em;
    font-size: 23.5px;
    border: 1px solid rgb(177, 177, 177);
    border-left: white;
    border-right: white;
    padding: 21px 0px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 9px 3px rgb(219 219 219 / 70%);
    line-height: 24px;
    letter-spacing: 1px;
    max-width: -webkit-fill-available;

}

.about-heading {
    text-align: center !important;
    margin: 2% 0%;
}

.about-info-light{
    /* border: 2px solid red; */
    /* width: 36em; */
    color: rgba(48, 48, 48, 0.651)!important;
    
}
.aboutus-info-gap{
    box-shadow: 0px 0px 0px 0px black;
    border: 2px solid black;
}
.about-heading p {
    margin-top: 2%;
    font-family: var(--pbmit-body-typography-font-family);
    font-weight: var(--pbmit-body-typography-variant);
    text-transform: none;
    font-style: normal;
    font-size: 23px;
    color: #484848;
    max-width: 62em;
    line-height: 38px;

}

.aboutus img {
    max-height: 101px;
    /* border: 1px solid red; */
    max-width: 73em;
}

.details ul .list-group-item {
    /* border: 2px solid red; */
    margin: auto;
    max-width: 14em;
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 2px solid red; */
    width: 74em;
}
.respon{
    margin-top: 50px;
    justify-content: center;
    display: flex;
    max-width: -webkit-fill-available;
    /* border: 2px solid red; */
}

.flex ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* flex-wrap: wrap; */

}



/* our services */
.pbmit-subtitle {
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    border: 1px solid rgb(177, 177, 177);
    border-left: white;
    border-right: white;
    padding: 9px 0px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 22px 4px rgb(219 219 219 / 70%);

}

.pos {
    margin-bottom: 19px;
}

.number-speak {
    font-size: 18px !important;
    box-shadow: 0px 0px 22px 4px rgb(219 219 219 / 70%);
}

.flex-cont {
    display: flex;
    /* align-content: center; */
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.ourproject {
    font-size: 22px !important;
    width: 51em !important;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 22px 4px rgb(219 219 219 / 70%);
    max-width: -webkit-fill-available;
}

.blogs-news {
    font-size: 22px !important;
    box-shadow: 0px 0px 22px 4px rgb(219 219 219 / 70%);
}



/* counter */
.bulb-img {
    /* border: 2px solid red; */
    margin-top: 0px;
    height: 35em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: -36px 7px 2px 64px
}

.bulb-img .header h4 {
    color: var(--pbmit-global-color);
    /* border: 1px solid red; */
    text-align: center;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0px;
    margin-bottom: 16%;

}

.line {
    display: inline-flex;
}

.line::before {
    content: ' ';
    height: 100%;
    width: 2px;
    border: 0.1px solid #c1c1c1;
    opacity: 0.2;
    box-shadow: 0px 0px 21px 7px rgb(151, 151, 151)
}

.counter-text {
    /* border: 1px solid black; */
    box-shadow: 2px 3px 4px rgb(134, 187, 70, 0.5);
}


/* testimonials */
.test-color-bg {
    background-color: var(--pbmit-global-color);
    box-shadow: 10px 51px 0px 0px var(--pbmit-global-color);
}


/* portfolio */
.portfolio-cards {
    /* border: 2px solid red; */
    display: grid;
    align-items: center;
    /* grid-template-rows: 1fr 1fr; */
    position: relative;
    /* background-image: url(../images/portfolio-bg-img.webp);
    background-repeat: no-repeat; */
}
.portfolio-cards::before {
    position: absolute;
    content: "";
    background-image: url(../images/porfolio-bg-img3.webp);
    background-size: cover;
    background-repeat: no-repeat;
    inset: 0;
    opacity: 0.8;
}
/* cards and info */
.portfolio-card1 {
    margin: 1px 10px;
    width: auto;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column ;flex-wrap: wrap; align-content: flex-start;
    opacity: 1;
    z-index: 1;
}
.portfolio-card2 {
    margin: 1px 10px;
    width: auto;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column ;
    flex-wrap: wrap; 
    align-content: flex-end;
    opacity: 1;
    z-index: 1;
}

.img-shadow{
    box-shadow: 3px 3px 6px 2px rgb(71, 71, 71,0.5);
}
/* card1 */
.port-card1 {
    box-shadow: 3px 2px 5px 1px #818181;
    width: -webkit-fill-available;
    opacity: 1;
    background-color: rgb(0 0 0 / 30%);
    display: flex;
    /* z-index: -1;
    /* justify-content: ; */
    /* z-index: -1; */
}

/* card2 */
.port-card2 {
    /* border: 2px solid red; */
    box-shadow: 0px 0px 10px 9px rgb(153, 153, 153);
    width: -webkit-fill-available;
    background-color:  rgb(0 0 0 / 30%);
    display: flex;
justify-content: space-between

}
/* card3 */
.port-card3 {
    /* border: 2px solid red; */
    width: -webkit-fill-available;
    box-shadow: 5px 5px 8px 3px rgb(153, 153, 153);
    /* width: fit-content; */
    background-color: rgb(0 0 0 / 30%);
    display: flex;
    opacity: 1;

}
.port-card2 article ,.port-card3 article,.port-card1 article{
    /* border: 2px solid red; */
    width: 25em;
}

/* information of cards */
.port-info-flex
{
    /* border: 10px solid rgb(139, 27, 143); */
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 16em;
    margin-top: 34px;
    height: auto;
}

.port-card-info  {
    /* border: 2px solid rgb(12, 9, 9); */
    /* margin: auto 14px; */
    color: rgb(235, 235, 235);
    background-color: rgb(0 0 0 / 43%);
    border-radius:4px ;
    margin: 0px 14px;
    margin-bottom: 31px
}
.port-card-info  h4{
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    border: 1px solid #7e7a7a;
    border-left: none;
    /* max-width: 38em; */
    border-right: none;
    box-shadow: 0px 0px 3px 0px #86bb46;
    font-family:   'Trebuchet MS', sans-serif;
    font-size:30px ;
}
.port-card-info .readmore-flex p{
    background-color: 2px solid red ;
    opacity: 1;
    /* text-align: center; */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* border: 2px solid red; */
    max-width: 45em;
    margin: 9px 51px;
    font-size: 19px;
    line-height: 30px;
    font-weight: 10px;
}

/* btn */
.port-btn{
    max-width: 10em;
padding:19px;
text-align:center;

margin-top: 17px;
}
button {
  line-height:1em;
  letter-spacing:0.06em;
  font-family: 'Lato', sans-serif;
  font-weight:normal;
  font-size:16px;
  text-decoration:none;
  color:#fff;
  background:var(--pbmit-global-color);
  display:inline-block;
  /* padding:15px 12px 15px 15px; */
  transition:background 200ms;
  border-radius:4px;
}
button:hover {
  /* background:gray; */
}
button:after {
    font-family: 'FontAwesome', sans-serif;
    font-weight: 300;
    /* content: "\f105"; */
    margin-left: 4px;
    color: black;
    font-size: 22px;
    vertical-align: -2px;
    transition: color 200ms;
}

button:hover:after {
  color:#020202;
}
.readmore-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
}
@media(max-width:1100px){
    .port-card-info{
        width: auto;
        height:auto;
    }
}

@media(max-width:772px){

.port-card1 , .port-card3{
    display: flex!important;
    flex-direction: column!important;
    display: flex;
    justify-content: center;
    width: auto;
    
}
.port-card1 article, .port-card3 article{
    display: flex;
    justify-content: center;
    width: auto;
}
.port-card2{
    /* border: 2px solid red;
    display: flex!important; */
    flex-direction: column-reverse!important;
    
}
.port-card2 article{
    display: flex;
    justify-content: center;
    width: auto;
}
}
/* wictronix-logo */
.wictronix-logo{
    height: 30px;
    width: 100px;
    background: white;
    padding: 5px;
    border-radius: 10px;
    border-radius: 7px;
}